/*---[NO-5]-Design-the-Header-Section-START---*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 1px solid #ddd;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
  max-width: 1440px;
  margin: 0px auto;
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_logo img {
  height: 50px;
  position: relative;
  left: 60px;

}

.nav-links {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  left: 100px;
}

.nav-links a {
  text-decoration: none;
  margin: 0 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  padding: 5px 0;
  color: var(--Gray-1, #333);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.nav-links .active-line {
  position: absolute;
  height: 2px;
  background-color: #333;
  transition: all 0.3s ease;
}

.nav-links .active-line-top {
  top: -5px;
}

.nav-links .active-line-bottom {
  bottom: -5px;
}

.nav-links a:hover {
  color: #BDBDBD;
}

.mobile-menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .navbar {
    padding: 15px 20px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links a {
    margin: 10px 0;
  }

  .mobile-menu-icon {
    display: block;
  }

  .nav-links .active-line {
    display: none;
  }

  .header_logo img {
    position: relative;
    left: 5px;
  }
}
/*---[NO-5]-Design-the-Header-Section-END---*/


/* [NO-25] Implement the Specific Prioject Page Content START */
.specific__sec{
  font-family: "Roboto", serif;
  max-width: 1440px;
  margin: 60px auto;
}
.specific__sec img{
  width: 100%;
}

.specific__sample{
  padding-bottom: 40px;
  margin-left: clamp(30px,7vw,135px);
}
.specific_h1{
  font-weight: 300;
  color: var(--clr-medium-grey);
  font-size: var(--font-size-xxl);
}
.specific_h2{
  font-weight: 700;
  color: var(--clr-dark-grey);
  font-size: var(--font-size-xxl);
}

.specific__top{
  border-top: 1px solid var(--clr-light-grey);
  padding-top: 40px;
  margin-left: clamp(30px,7vw,135px);
  margin-right: clamp(30px,11vw,164px);
  margin-bottom: 30px;
}

.specific__div{
  margin-left: clamp(30px,7vw,135px);
  margin-right: clamp(30px,11vw,200px);
  font-weight: 300;
  font-size: var(--font-size-m);
  line-height: 25px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.specific__div_img{
width: 100%;
max-width: 40%;
aspect-ratio: 1 / 1;
max-height: 450px;
object-fit: cover;
display: flex;
justify-content: center;
align-items: center;
}

.specific__bottom{
  margin-top: 30px;
  margin-left: clamp(30px,7vw,135px);
  margin-right: clamp(30px,11vw,164px);
}

@media (max-width: 900px){
.specific_h1{
    font-size: 45px;
}
.specific_h2{
    font-size: 45px;
}
  
 .specific__div {
    display: block;
    font-size: var(--font-size-s);
}

.specific__div_img {
  max-width: 100%;
  object-fit: contain;
  width: auto;
  max-height: 250px;
}
}
@media (max-width: 700px){
.specific__div_img {
  max-height: 200px;
}
}
@media (max-width: 500px){
.specific__div_img {
  max-height: 140px;
}
}
@media (max-width: 300px){
.specific__div_img {
  max-height: 80px;
}
}
/* [NO-25] Implement the Specific Prioject Page Content END */


/*[NO-9] Create the Footer Section - START */
footer {
  max-width: 1440px;
  background-color: #2C2C2C;
  margin: 0px auto;
  color: #FFFFFF;
  font-family: "Roboto", serif;
}

.footer {
  display: flex;
  padding-top: 55px;
  padding-left: clamp(10px, 8vw, 120px);
  padding-right: clamp(10px, 8vw, 120px);
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
}

.footer h1 {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 15px;
}

.footer_img {
  padding: 0px 0px 180px 0px;
}

.footer_p {
  line-height: 40px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: flex;
}

.footer_s {
  line-height: 26px;
  padding: 5px 0px 35px 0px;
}

.footer_information {
  display: flex;
  gap: clamp(10px, 5vw, 70px);
}

.footer_cont_h {
  margin-bottom: 0px;
}

.footer_cont {
  display: flex;
  gap: 20px;
}

.footer_cont_img {
  min-width: 12px;
  align-self: start;
  padding-top: 10px;
}

.footer_social_img {
  display: flex;
  gap: clamp(10px, 3vw, 40px);
  padding-top: 10px;
}

.footer_2021 {
  color: #C8C8C880;
  text-align: center;
  min-height: 70px;
  font-size: 12px;
  align-content: center;
  position: relative;
}

.footer_2021::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: #FFFFFF;
  opacity: 10%;
}

@media (max-width: 768px) {
  .footer {
    display: block;
    text-align: center;
    padding: 20px 0px 0px 0px;
  }

  .footer_information,
  .footer_contacts,
  .footer_social {
    display: block;
    margin-bottom: 50px;
  }

  .footer_img {
    padding-bottom: 30px;
  }

  .footer h1 {
    padding-bottom: 5px;
  }

  .footer_s {
    line-height: 26px;
    padding: 5px;
  }

  .footer_cont,
  .footer_p {
    display: block;
  }

  .footer_social_img {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
/*[NO-9] Create the Footer Section - END */